.unstyle-list{
    list-style: none;
    padding: 0;
}

.navbar{
    background-color: #e9ecef;
    border-bottom: #6ea8fe solid 2px;
}

.modal-content{
    border-radius: 15px;
}

.form-control{
    border-radius: 20px;
}

.form-control::placeholder{
    color: #ced4da;
}

.btn{
    border-radius: 20px;
}

.big-section{
    background-color: #f8f9fa;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}